@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body {
    background-image: url(../images/tech1.jpg);
    
}

/* -----Navbar Menue ---------- */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}

.brand-name h2{
    color: #e97474;
    font-size: 1.8rem;
    margin: .5rem;
    font-weight: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  
}
.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #e97474;
    transform: scale(1.5);
   transition: 1.5s ease-in-out;
}

.toggle-btn {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    background-color: #ff0606;
    height: 2px;
    width:100%;
    
}

@media (max-width: 768px) {
   
    .toggle-btn {
        display: flex;
        
    }
  
    .navbar-links  {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: .4rem;
    }

    .navbar-links ul {  
        flex-direction: column;
    }

    .navbar-links li  {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1.5rem .5rem;
    }

    .navbar-links.active {
        display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2rem;
        
       
    }

    .toggle-btn.active .bar:nth-child(2){
        opacity: 0;        
    }
    .toggle-btn.active .bar:nth-child(1){
        transform: translateY(9.5px) rotate(50deg);
        transition: 1s ease-in-out;
    }
    .toggle-btn.active .bar:nth-child(3){
        transform: translateY(-9.5px) rotate(-50deg);
        transition: 1s ease-in-out;
    }

    .brand-name h2 {
        font-size: .8rem;
    }
    
   

}

/* ------ Header Section -------------- */

#home {
    height: 100vh;
    padding-top: 4rem;
    display: grid;
    justify-content: center;;
    align-items: center;
}
.header h1 {
    color:#BC8F8F;
    font-weight: bold;
    font-size: 4rem;
}
.header p {
    font-size: 2.5rem;
}
.header {
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    font-size: 2rem;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 400px;
    background-color: #2ecc71;    
}


@media (max-width: 768px) {

    .header h1 {
        font-size: 3rem;
    }
    .header p {
        font-size: 2rem;
    }
    .header::after{
        width: 300px;
    }
 
}


/* ----- About Section --------------- */



#about {
    
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
 
}
#about .header {
    margin-bottom: 4rem;
}
.card-text {
    background-color: #e97474aa;
    color: #fff;
    border: solid 4px #fff;
    width: 800px;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 2rem;
}
.card-text p {
    line-height: 4vh;
    word-spacing: 1.2px;
    letter-spacing: 1.2px;
}

@media (max-width: 768px) {
    .card-text {
        width: 500px;
        font-size: 1.3rem;
        margin: 2rem;
        padding: 4rem;
       
    }
    .card-text p {
        line-height: 1.6rem;
        word-spacing: 1.4px;
        letter-spacing: 1.3px;
    }
  

            
}
@media (max-width: 375px) {
    .card-text {
        font-size: 1rem;
        margin: 0;
        padding: 4rem;
    }
} 





/*  ------ Portfolio Section -------------- */

#work {
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;

    
}
#work h2 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

#work .experiance {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    gap: 8rem;
    padding-top: 5rem;
    
}

.card h3 {
    color: #fff;
    text-align: center;
}

.card img {
    width: 300px;
    height: 300px;
   border-radius: 5px;
    
}

.card img:hover {
    transform:scalex(1.1);
    transition:ease-in-out 2s ;
}
.card a {
    text-decoration: none;
    
}
.btn  {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .4rem;
}

.button {
    padding: .5rem;
    width: 100px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    
}

.button:hover {
    background-color: #e97474;
    color: #fff;
    transition: 1s;
}

@media (max-width: 768px) {

    #work .experiance {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr  ;
        gap: 8rem;
        padding-top: 10rem;
        
    }
    #work .header {
        padding-top: 15rem;
    }
    .card img {
        width: 100%;
    } 

}



/* ------- Skills Section ------------ */





#skills {
    padding-top: 15rem;
}
.inner {
    padding-top: 20px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;    
}

.skill-box {
    padding: 1rem;
    color: #fff;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after , .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '' ;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .3s;
}
.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: .3s;
}


.img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 45px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;    
}
.img:after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 90px;
    border-radius: 45px 0 0 45px;

}
.skill-title h3 {
    color: #fff;
    margin-top: 0.5rem;
    
}


.skill-icon {
    width: 50%;
}

@media (max-width: 768px) {
   
    .skill-container {
        grid-template-columns: repeat(2,  1fr);
    }
    .skill-container {
        font-size: 1rem;
    }
}

/* ------ Contact Section ------*/


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 
}
.form-container {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.brand img {
    width: 20%;
}

.wrapper {
    box-shadow: 0 4px 18px 0 #fffa, 0 6px 20px 0 #fffa;
}
.wrapper > * {
    padding: 1em;
    width: 100%;
}

.info{
    background-color: #fff;
}
.info h1 {
    color: #000a;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


.info p {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000a;
}

.social {
    margin-right: auto;
    letter-spacing: 5px;
    font-size: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr 1fr 1fr);
}

.social .icon {
    color:#4c57f8;
}

.social a{
    color: #fff;    
}

.info a:hover {
    color: #FFD700;
    transform: scale(1.2);
    transition: 1s;
}
    

 .contact {
    background: linear-gradient(180deg, #FA8072 , #F08080);
    
 }

 .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
 }

 .contact form label {
    display: block;
 }
 .contact form p {
    margin: 0;
 }

 .contact form .full {
    grid-column: 1/3;

 }

 .contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    
 }

 .contact input {
    font-size: 20px;
    font-weight: bold;

 }

 .contact form button {
    background:#000a;
    color: #fff;
    border: 0 ;
    font-size: larger;
    text-transform: uppercase;
 }

.contact form button:hover , .contact form button:focus {
    background:#A9A9A9;
    color: #fff;
    outline: 0;
    transition: 1s ease-out;
    cursor: pointer;
}
.contact form input:hover, .contact form textarea:hover{
    background-color:  #ddd;
    color: #fff;
    font-weight: bold;
    transition:  1s ease-out;
}
.info  a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

@media(max-width: 768px) {
    .info a {
        font-size: 1rem;
        text-align: center;
    }
    .info p  {
        font-size: 1rem;
    }
    .info h1 {
        font-size: 1.2rem;
    }
}


/* ----------Footer Section --------- */

#footer {
    padding-top: 5rem;
}
.copyright {
    background: #fffa;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px){
    .copyright {
        bottom: 0;
        padding-top: 1rem ;
    }

}
@media (max-width: 412px) {
    .copyright {
        width: 100%;
        font-size: 15px;
        display: inline-flex;
    }       
    #footer {
        padding-top: 12rem;
        text-align: center;
        width: 100%;
    }
}